body {
    background-color: #ccf5f5;
}

#start-game {
   transform: translate(-50%,-50%);
    position:absolute;
    left:50%;
    top:50%;
    width:30%;
    height:15%;
    background-color: #0077b3;
    font-weight: bold;
}
#start-game:hover, .start-game:focus {
    background: #a84d4d;
     }

#gameholder {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 600px;
    height: 150px;
    background-image:url('../images/penguin_title.png');
}

#score {
    width: 150px;
    height: 70px;
    position: absolute;
    left: 75%;
    border: 3px groove darkslategrey;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 1.5em;
    font-weight: 800;
    color: darkslategrey;
    text-shadow: 2px 2px lightgrey;
    background-color: rgba(0, 0, 0, .1);
    margin-top: 140px;
}

#penguin1:hover {
    background-image:url('../images/mound_1_hover.png');
    cursor: pointer;
}
#penguin1.found {
    background-image:url('../images/penguin_1.png');
}
#penguin1 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_1.png');
}
#penguin2:hover {
    background-image:url('../images/mound_2_hover.png');
    cursor: pointer;
}
#penguin2.found {
    background-image:url('../images/penguin_2.png');
}
#penguin2 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_2.png');
}
#penguin3:hover {
    background-image:url('../images/mound_3_hover.png');
    cursor: pointer;
}
#penguin3.found {
    background-image:url('../images/penguin_3.png');
}
#penguin3 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_3.png');
}
#penguin4:hover {
    background-image:url('../images/mound_4_hover.png');
    cursor: pointer;
}
#penguin4.found {
    background-image:url('../images/penguin_4.png');
}
#penguin4 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_4.png');
}
#penguin5:hover {
    background-image:url('../images/mound_5_hover.png');
    cursor: pointer;
}
#penguin5.found {
    background-image:url('../images/penguin_5.png');
}
#penguin5 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_5.png');
}
#penguin6:hover {
    background-image:url('../images/mound_6_hover.png');
    cursor: pointer;
}
#penguin6.found {
    background-image:url('../images/penguin_6.png');
}
#penguin6 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_6.png');
}
#penguin7:hover {
    background-image:url('../images/mound_7_hover.png');
    cursor: pointer;
}
#penguin7.found {
    background-image:url('../images/penguin_7.png');
}
#penguin7 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_7.png');
}
#penguin8:hover {
    background-image:url('../images/mound_8_hover.png');
    cursor: pointer;
}
#penguin8.found {
    background-image:url('../images/penguin_8.png');
}
#penguin8 {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_8.png');
}
#yeti:hover {
    background-image:url('../images/mound_9_hover.png');
    cursor: pointer;
}
#yeti.found {
    background-image:url('../images/yeti.png');
}
#yeti {
    width: 200px;
    height: 200px;
    float: left;
    background-image:url('../images/mound_9.png');
}

.yeti-found #page-header {
  width: 100%;
  padding: 1rem 0;
  text-align: center; }


.yeti-found #roar {
  -webkit-animation: shaky .6s linear;
          animation: shaky .6s linear;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 20px; }


@-webkit-keyframes shaky {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@keyframes shaky {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }